body{
    background-image: url('./image/background.jpg');
    background-size: cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
    width: 80%;
    margin-top: 0%;
    height: 100%;
}
#logo{
    height: 200px;
    width: 200px;
    position: relative;
    left: 50px;
}

#design{
    width: 100px;
    height: 70px;
    margin: 10px 50px;
}
#smart{
    color: #272D4A;
    padding-left: 90px;
    padding-top: 70px;
}
#bio{
   text-align: justify;
    width: 60%; 
    padding-left: 90px;
    /* padding-top: 30px; */
    font-size: 25px;
}
#sign{
    background-color: #272D4A;
    border-radius: 5px;
    margin-left: 90px;
    color: white;
    width: 100px;
    height: 45px;
    font-size: 20px;
    transition: 0.4s ease;
}
#sign:hover {
    transform: scale(1.2);
    background-color: #E2EAF5;
    color: #272D4A;
    cursor: pointer;

}
#log{
    border-radius: 5px;
    color: white;
    background-color: #272D4A;
    width: 100px;
    height: 45px;
    font-size: 20px;
    margin-left: 40px;
    transition: 0.4s ease;
}
#log:hover {
    transform: scale(1.2);
    background-color: #E2EAF5;
    color: #272D4A;
    cursor: pointer;
}
.footer {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 110px;
    background-color: #272D4A;
    color: white;
}
#bioNav{
    grid-column: 2/9;
    padding-top: 15px;
}
.paragraph_footer{
    display: inline;
    font-size: 20px;
    
}
#bioNav2{
    grid-column: 11/12;
    padding-top: 15px;
}
.bioNav2_style{
    background-color: white;
    height: 5px;
    width: 40px;
    margin-bottom: 10px;
}
.bioNav2_divs{
    font-size: 16px;
}
.img_teacher{
    position: absolute;
    right: 0px;
    top: 12%;
    width: 50pc;
    height: 35pc;
}









@media screen and (min-width: 280px) {

    .bioNav2_divs{
    font-size: 10px;
}


.footer {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: #272D4A;
    color: white;

}

.paragraph_footer{
    display: inline;
    font-size: 8px;
    display: none;
    
    
}
.bioNav2_style{
    background-color: white;
    height: 1px;
    width: 20px;
    margin-bottom: 1px;
}
    #icon{
        width: .5px;
        margin-bottom: 5px;
    }







    #bio{
    text-align: justify; 
    width: 60%; 
    padding-left: 50px;
    padding-top: 20px;
    font-size: 13px;
}
#smart{

    color: #272D4A;
    padding-left: 30px;
    padding-top: 45px;
    font-size: 20px;


}
#sign{
    background-color: #272D4A;
    border-radius: 5px;
    margin-left: 90px;
    color: white;
    width: 50px;
    height: 30px;
    font-size: 10px;
    margin-left: 55px;
}
#log{
    border-radius: 5px;
    color: white;
    background-color: #272D4A;
    width: 50px;
    height: 30px;
    font-size: 10px;
    margin-left: 0px;
    
}

.img_teacher{
   padding-right: -100px;
   padding-top: 320px;
   
 
   height: 11em;
   width: 22em;
   
}}
@media screen and (min-width: 375px) {

.bioNav2_divs{
font-size: 10px;
}


.footer {
display: grid;
grid-template-columns: repeat(12,1fr);
position: fixed;
left: 0;
bottom: 0;
width: 100%;
height: 80px;
background-color: #272D4A;
color: white;

}

.paragraph_footer{
display: inline;
font-size: 100px;
display: none;


}
.bioNav2_style{
background-color: white;
height: 1px;
width: 20px;
margin-bottom: 1px;
}
#icon{
width: .5px;
margin-bottom: 5px;
}







#bio{
text-align:start ; 
width: 60%; 
padding-left: 50px;
padding-top: 10px;
font-size: 15px;
}
#smart{

color: #272D4A;
padding-left: 30px;
padding-top: 45px;
font-size: 20px;


}
#sign{
background-color: #272D4A;
border-radius: 5px;
margin-left: 90px;
color: white;
width: 50px;
height: 40px;
font-size: 10px;
margin-left: 55px;
}
#log{
border-radius: 5px;
color: white;
background-color: #272D4A;
width: 50px;
height: 40px;
font-size: 12px;
margin-left: 0px;

}

.img_teacher{
padding-right: -80px;
padding-top: 320px;


height: 12em;
width: 27em;

}





}

@media screen and (min-width: 360px){

.img_teacher{
padding-right: -80px;
padding-top: 380px;


height: 12em;
width: 27em;

}

#bio{
text-align:start ; 
width: 60%; 
padding-left: 50px;
padding-top: 10px;
font-size: 18px;
}




}

@media screen and (min-width: 375px){
.img_teacher{
padding-right: -80px;
padding-top: 320px;


height: 12em;
width: 20em;

}

#bio{
text-align:start ; 
width: 60%; 
padding-left: 50px;
padding-top: 20px;
font-size: 15px;
}


}

@media screen and (min-width: 390px){
.img_teacher{
padding-right: -80px;
padding-top: 425px;


height: 15em;
width: 20em;

}

#bio{
text-align:start ; 
width: 60%; 
padding-left: 50px;
padding-top: 20px;
font-size: 20px;
}
}


@media screen and (min-width: 412px){
.img_teacher{
padding-right: -80px;
padding-top: 450px;


height: 17em;
width: 30em;

}

#bio{
text-align:start ; 
width: 60%; 
padding-left: 50px;
padding-top: 20px;
font-size: 21px;
}

#sign{
background-color: #272D4A;
border-radius: 5px;
margin-left: 90px;
color: white;
width: 100px;
height: 40px;
font-size: 17px;
margin-left: 55px;
}
#log{
border-radius: 5px;
color: white;
background-color: #272D4A;
width: 100px;
height: 40px;
font-size: 17px;
margin-left: 0px;

}
#smart{

color: #272D4A;
padding-left: 30px;
padding-top: 45px;
font-size: 28px;


}


}
@media screen and (min-width: 540px){

.img_teacher{
padding-right: -120px;
padding-top: 320px;


height: 16em;
width: 23em;

}
#sign{
background-color: #272D4A;
border-radius: 5px;
margin-left: 90px;
color: white;
width: 100px;
height: 40px;
font-size: 15px;
margin-left: 55px;
}
#log{
border-radius: 5px;
color: white;
background-color: #272D4A;
width: 100px;
height: 40px;
font-size: 15px;
margin-left: 0px;

}

}
@media screen and (min-width: 768px){

.img_teacher{
padding-right: -20px;
padding-top: 350px;


height: 30em;
width: 35em;

}
#sign{
background-color: #272D4A;
border-radius: 5px;
margin-left: 90px;
color: white;
width: 100px;
height: 60px;
font-size: 20px;
margin-left: 55px;
}
#log{
border-radius: 5px;
color: white;
background-color: #272D4A;
width: 100px;
height: 60px;
font-size: 20px;
margin-left: 0px;

}
#bio{
text-align:start ; 
width: 60%; 
padding-left: 50px;
padding-top: 20px;
font-size: 30px;
}

#smart{

color: #272D4A;
padding-left: 30px;
padding-top: 45px;
font-size: 35px;


}


}

@media screen and (min-width: 912px){


.img_teacher{
padding-right: -20px;
padding-top: 700px;


height: 30em;
width: 35em;

}
#sign{
background-color: #272D4A;
border-radius: 5px;
margin-left: 90px;
color: white;
width: 100px;
height: 60px;
font-size: 20px;
margin-left: 55px;
}
#log{
border-radius: 5px;
color: white;
background-color: #272D4A;
width: 100px;
height: 60px;
font-size: 20px;
margin-left: 0px;

}
#bio{
text-align:start ; 
width: 60%; 
padding-left: 50px;
padding-top: 20px;
font-size: 35px;
}

#smart{

color: #272D4A;
padding-left: 30px;
padding-top: 45px;
font-size: 35px;


}




}

@media screen and (min-width: 1024px){


.img_teacher{
padding-right: -20px;
padding-top: 00px;

height: 30em;
width: 35em;

}
#sign{
background-color: #272D4A;
border-radius: 5px;
margin-left: 90px;
color: white;
width: 100px;
height: 60px;
font-size: 20px;
margin-left: 55px;
}
#log{
border-radius: 5px;
color: white;
background-color: #272D4A;
width: 100px;
height: 60px;
font-size: 20px;
margin-left: 0px;

}
#bio{
text-align:start ; 
width: 60%; 
padding-left: 50px;
padding-top: 20px;
font-size: 25px;
}

#smart{

color: #272D4A;
padding-left: 30px;
padding-top: 45px;
font-size: 35px;


}
.paragraph_footer{
    display: inline;
    font-size: 8px;
    display: none;
    
    
}

}


@media screen and (min-width: 1280px) and (max-width:1300px){



.img_teacher{
padding-right: -20px;
padding-top: 250px;

height: 25em;
width: 33em;

}
#sign{
background-color: #272D4A;
border-radius: 5px;
margin-left: 90px;
color: white;
width: 100px;
height: 60px;
font-size: 20px;
margin-left: 55px;
}
#log{
border-radius: 5px;
color: white;
background-color: #272D4A;
width: 100px;
height: 60px;
font-size: 20px;
margin-left: 0px;

}
#bio{
text-align:start ; 
width: 60%; 
padding-left: 50px;
padding-top: 20px;
font-size: 32px;
}

#smart{

color: #272D4A;
padding-left: 30px;
padding-top: 45px;
font-size: 35px;


}

}


